#IDE files
.settings
.project
.classpath
.metadata
.buildpath
.recommenders

#Build directories
target/
test_output/
output_bddvideoannotator/
vendor/
bin/
tmp/

#others
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
composer.lock
release.properties
dependency-reduced-pom.xml
buildNumber.properties
META-INF/
